.banner {
    background: url(./assets/images/banner/img.jpg) no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;

    .container {
        height: calc(100% - 140px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__intro {
        text-align: left;
        position: relative;
        
        &:after {
            background: $primary;
            content: '';
            position: absolute;
            width: calc(100% - 270px);
            height: 2px;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
        }
    }

    &__text h4 {
        text-align: center;
        margin-top: -40px;
    }
}