.concept {
    background: $secondary;
    height: 100vh;
    margin: 50px auto 70px;
    align-items: center;

    &__gallery {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 50%);
        width: 55%;
        height: 100%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: 0 top;
        }
    }

    &__block {
        width: calc(100% - 80px);
        flex-direction: column;
        padding: 40px;
        
        h3 {
            color: $white;
            text-shadow: 1px 1px 5px #555;
            text-align: center;
        }

        p {
            color: $white;
            text-align: justify;
            line-height: 1.5em;
        }

        &--elegant {
            background: $black;
        }

        &--better {
            background: $primary;
        }
    }

    &__text {
        width: 45%;
        text-align: right;

        h2, p {
            color: $tertiary;
            max-width: 400px;
            margin: 40px 60px 40px auto;
        }
    }
}