.touch {
    height: 100vh;
    background: url(./assets/images/touch/bg.jpg);
    background-size: contain;
    position: relative;

    &::after {
        background: $white;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        opacity: .7;
    }

    &__text {
        width: 60%;
        flex-direction: column;
        z-index: 1;
    }

    &__info {
        flex-wrap: wrap;
        z-index: 1;

        &-item {
            width: 50%;
            
            h4 {
                margin: 30px 0 10px;
            }
            
            p {
                margin: 0 0 10px;
            }
        }
    }

    img {
        height: 100%;
        width: 30%;
        object-fit: cover;
        z-index: 1;
    }
}