@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body {
    font-family: "Catamaran", sans-serif;
    font-size: 1.6rem;
}

.intro {
    background: #292526;
    color: #fff;
    position: relative;

    &:before, &:after {
        content: '';
        background: url(../images/effect.png) no-repeat;
        background-size: contain;
        position: absolute;
        width: 550px;
        height: 300px;
    }

    &:before {
        top: -40px;
        right: -40px;
        transform: rotate(200deg);
    }
}

.intro__container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 130px 0;

    h1 {
        font-size: 7rem;
        margin-bottom: 30px;
    }
    
    p {
        font-size: 2rem;
        position: relative;
        max-width: 800px;
        margin: 0 0 0 auto;

        &:before {
            content: '';
            background-color: #74dbe2;
            border-radius: 3px;
            position: absolute;
            top: 0;
            left: -30px;
            width: 5px;
            height: 100%;
        }
    }
}

h2 {
    font-size: 4.5rem;
    font-weight: 300;
    margin: .7rem;
}

p {
    font-size: 2rem;
}

.bg1 {
    background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0.1)),
    url(../images/bg1.jpg);
}

.bg2 {
    background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0.1)),
    url(../images/bg2.jpg);
}

.bg3 {
    background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0.1)),
    url(../images/bg3.jpg);
}
.bg4 {
    background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0.1)),
    url(../images/bg4.jpg);
}

.gallery {
    color: #fff;
    padding: 10px 0;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    background-size: cover;
}