.banner {
    background: url(./assets/images/banner/img.jpg);
    background-size: cover;
    width: 100vw;

    .container {
        flex-direction: column;
        height: calc(100% - 140px);
    }

    &__intro {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            background: $primary;
            width: calc(100% - 270px);
            height: 3px;
            right: 0;
            top: 50%;
        }
    }

    &__text h4 {
        text-align: center;
        margin-top: -40px;
    }
}