@charset "UTF-8";
/* ___ Fonts ___ */
@import url("https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* ___ Colors ___ */
/* ___ Media Query ___ */
h1, h2, h3, h4, p {
  font-family: "Open Sans", "Roboto", "Calibri", "sans-serif";
  color: #2A9D8F;
  line-height: 1.2em;
  font-weight: 700;
  margin: 20px 0;
}

h1 {
  font-family: "Faculty Glyphic", "Roboto", "Calibri", "sans-serif";
  font-size: 10rem;
}

h2 {
  font-family: "Faculty Glyphic", "Roboto", "Calibri", "sans-serif";
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
  color: #141414;
  font-weight: 400;
  line-height: 2em;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  background: #f7f7f7;
  color: #141414;
  font-family: "Open Sans", "Roboto", "Calibri", "sans-serif";
  margin: 0;
  overflow-x: hidden;
  outline: none;
  padding: 0;
  position: relative;
}

.style section {
  margin: 30px;
}
.style #chips section {
  display: flex;
}
.style #buttons section {
  margin: 30px 10px;
}
.style #buttons section .btn, .style #buttons section button {
  margin: 0 20px;
}

::-webkit-scrollbar {
  background: #fff;
  border-radius: 10px;
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2A9D8F;
  border-radius: 5px;
}

button, .btn, input[type=submit] {
  align-items: center;
  background: transparent;
  border: 1px solid #2A9D8F;
  border-radius: 15px;
  cursor: pointer;
  color: #2A9D8F;
  display: flex;
  font: 1.1rem "Open Sans", "Roboto", "Calibri", "sans-serif";
  font-weight: 400;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 8px 30px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}
button:hover, .btn:hover, input[type=submit]:hover {
  background: #2A9D8F;
  color: #f7f7f7;
}

.btn--secondary {
  border-color: #CC2936;
  color: #CC2936;
}
.btn--secondary:hover {
  background-color: #CC2936;
}
.btn--icon i {
  margin: 3px 0 0 5px;
  font-size: 1.3rem;
}
.btn--link {
  background: transparent;
  border: none;
  color: #2c2c2c;
  height: auto;
  padding: 5px 10px;
  text-decoration: underline;
  text-transform: none;
}
.btn--link:hover {
  background: transparent;
  color: #2A9D8F;
}

.chips {
  align-items: center;
  background: #2A9D8F;
  border: 1px solid #2A9D8F;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin: 10px 10px 10px 0;
  padding: 4px 12px;
  width: fit-content;
}
@media screen and (max-width: 500px) {
  .chips {
    padding: 4px 8px;
    margin: 5px 7px 5px 0;
  }
}
.chips__text {
  color: #f7f7f7;
  font-family: "Open Sans", "Roboto", "Calibri", "sans-serif";
  font-size: 16px;
  font-weight: 400;
  transition: color 0.5s ease-in-out;
}
@media screen and (max-width: 960px) {
  .chips__text {
    font-size: 14px;
  }
}
@media screen and (max-width: 500px) {
  .chips__text {
    font-size: 11px;
  }
}
.chips--disabled {
  background: #E9E9E9;
  border-color: transparent;
  cursor: not-allowed;
}
.chips--disabled .chips__img {
  filter: grayscale(3);
}
.chips--disabled .chips__text {
  color: #B9B9B9;
}
.chips--clicable {
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
.chips--clicable:hover {
  background: transparent;
}
.chips--clicable:hover .chips__text {
  color: #2A9D8F;
}
.chips--border {
  background: transparent;
}
.chips--border .chips__text {
  color: #2A9D8F;
}
.chips--border.chips--clicable:hover {
  background: #2A9D8F;
}
.chips--border.chips--clicable:hover .chips__text {
  color: #f7f7f7;
}
.chips--secondary {
  background: #CC2936;
  border-color: #CC2936;
}
.chips--secondary .chips__text {
  color: #fff;
}
.chips--secondary.chips--clicable:hover .chips__text {
  color: #CC2936;
}
.chips--secondary.chips--border {
  background: transparent;
}
.chips--secondary.chips--border .chips__text {
  color: #CC2936;
}
.chips--secondary.chips--border.chips--clicable:hover {
  background: #CC2936;
}
.chips--secondary.chips--border.chips--clicable:hover .chips__text {
  color: #fff;
}

form {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
  box-sizing: content-box;
  width: 100%;
}

.input, .checkbox, .radio, .select, .textarea, .submit {
  flex-direction: column;
  padding: 0 20px;
}

.checkbox, .radio {
  flex-direction: row;
}

label {
  display: block;
  font-size: 16px;
  font-weight: 700;
  margin: 10px 0 7px;
}

input, select, textarea {
  background: transparent;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  box-sizing: border-box;
  color: #000;
  font-family: "Open Sans", "Roboto", "Calibri", "sans-serif";
  height: 44px;
  outline: none;
  padding: 10px 16px;
  transition: all 0.5s ease-in-out;
  width: 100%;
}
input:not(:placeholder-shown), select:not(:placeholder-shown), textarea:not(:placeholder-shown) {
  border-color: #000;
}
input:focus, input:hover, select:focus, select:hover, textarea:focus, textarea:hover {
  box-shadow: 0 0 1px 2px rgba(153, 127, 227, 0.4);
  border-color: #2A9D8F;
}
input:invalid, select:invalid, textarea:invalid {
  border-color: red;
}

.input {
  margin-bottom: 15px;
}
.input--icon {
  position: relative;
}
.input--icon i {
  font-size: 16px;
  left: 16px;
  line-height: 1.2em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.input--icon input {
  padding-left: 45px;
  width: 311px;
}
.input--small input {
  height: 32px;
}
.input--small i {
  font-size: 14px;
}
.input--small label, .input--small .input__desc {
  font-size: 12px;
}
.input__desc {
  color: #898989;
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px;
}

select {
  appearance: none;
  cursor: pointer;
  text-indent: 0.01px; /* Remove seta padrão do FireFox */
  text-overflow: ""; /* Remove seta padrão do FireFox */
}
select::-ms-expand {
  display: none;
}
select:not(:placeholder-shown) {
  border-color: #c0c0c0;
}

.select {
  cursor: pointer;
  margin: 15px 20px 30px;
  padding: 0;
  position: relative;
  min-width: 230px;
}
.select:after {
  border: 1px solid transparent;
  border-bottom-color: #141414;
  border-right-color: #141414;
  content: "";
  height: 10px;
  position: absolute;
  right: 25px;
  top: calc(50% - 10px);
  transform: rotate(45deg) translateY(-50%);
  transition: transform 0.2s ease-out;
  width: 10px;
}

textarea {
  box-sizing: border-box;
  height: 80px;
  line-height: 1.2em;
  margin-bottom: 15px;
  resize: none;
}
textarea::-webkit-scrollbar-track {
  margin: 7px 20px 7px 0;
}

::placeholder {
  color: #898989;
  font-size: 14px;
  font-weight: 500;
}

.checkbox, .radio {
  align-items: center;
  display: flex;
  margin: 10px 0;
}
.checkbox label, .radio label {
  font-weight: 400;
  font-size: 16px;
}

input[type=checkbox], input[type=radio] {
  border: transparent;
  border-radius: 3px;
  height: 17px;
  margin: 0 13px 0 1px;
  padding: 0;
  position: relative;
  width: 17px;
}
input[type=checkbox]:focus, input[type=radio]:focus {
  box-shadow: none;
}
input[type=checkbox]:before, input[type=checkbox]:after, input[type=radio]:before, input[type=radio]:after {
  border-radius: 3px;
  content: "";
  cursor: pointer;
  position: absolute;
  transition: all 0.5s ease-in-out;
}
input[type=checkbox]:before, input[type=radio]:before {
  background: #f7f7f7;
  border: 1px solid #c0c0c0;
  left: -3px;
  top: -3px;
  height: 22px;
  width: 22px;
}
input[type=checkbox]:after, input[type=radio]:after {
  background-color: #CC2936;
  opacity: 0;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  height: 14px;
  width: 14px;
}
input[type=checkbox]:checked:after, input[type=checkbox]:hover:after, input[type=radio]:checked:after, input[type=radio]:hover:after {
  opacity: 1;
}
input[type=checkbox]:focus, input[type=checkbox]:hover, input[type=radio]:focus, input[type=radio]:hover {
  box-shadow: none;
}
input[type=checkbox]:focus:before, input[type=checkbox]:hover:before, input[type=radio]:focus:before, input[type=radio]:hover:before {
  border-color: #CC2936;
}

input[type=radio]:before, input[type=radio]:after {
  border-radius: 100%;
}
input[type=radio]:after {
  left: 55%;
}

input[type=submit] {
  border-color: #2A9D8F;
  width: fit-content;
}
input[type=submit]:focus, input[type=submit]:hover {
  box-shadow: none;
}

.required {
  color: red;
}

.wrapper {
  margin: 0 auto;
  max-width: 1170px;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .wrapper {
    margin: 0 40px;
  }
}
@media screen and (max-width: 770px) {
  .wrapper {
    margin: 0 20px;
  }
}

.wrapper--small {
  margin: 0 auto;
  max-width: 930px;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .wrapper--small {
    margin: 0 40px;
    max-width: 70vw;
  }
}
@media screen and (max-width: 770px) {
  .wrapper--small {
    margin: 0 40px;
    max-width: 100%;
  }
}

.container {
  margin: 40px 0;
}

.flex--ct {
  display: flex;
  justify-content: center;
}
.flex--sb {
  display: flex;
  justify-content: space-between;
}
.flex--st {
  display: flex;
  justify-content: flex-start;
}
.flex--end {
  display: flex;
  justify-content: flex-end;
}

ul, ol {
  margin: 20px 0;
  padding-left: 20px;
}
ul li, ol li {
  color: #141414;
  font-size: 18px;
  margin: 0 0 8px;
}
ul li::marker, ol li::marker {
  color: #CC2936;
}

blockquote {
  margin: 40px 0;
  quotes: none;
}
blockquote p {
  color: #2A9D8F;
  font-family: "Faculty Glyphic", "Roboto", "Calibri", "sans-serif";
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5em;
  margin: 0 0 10px;
}
blockquote cite {
  color: #141414;
  font-family: "Faculty Glyphic", "Roboto", "Calibri", "sans-serif";
  font-size: 16px;
  font-style: normal;
  font-weight: 350;
  margin: 0;
}
blockquote.has-text-align-center {
  text-align: center;
}
blockquote.has-text-align-right {
  text-align: right;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 20px 0;
}

thead tr {
  background: #ccc;
  line-height: 1.3em;
}

tbody tr:last-child {
  border-bottom: none;
}

tr {
  border-bottom: 1px solid #666;
}
tr td {
  color: #000;
  font-size: 15px;
  padding: 10px 15px;
}
tr td:not(:last-child) {
  border-right: 1px solid #666;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
